<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
        xmlns:context="http://www.springframework.org/schema/context">
    <context:annotation-config/>

	<bean class="com.autowired.annotation.Address" id="address5">
		<property name="street" value="kolgaon" />
		<property name="city" value="shrigonda" />
	</bean>
	
	<bean class="com.autowired.annotation.Address" id="address1">
		<property name="street" value="kolgaon" />
		<property name="city" value="shrigonda" />
	</bean>



	<bean class="com.autowired.annotation.Employee" id="emp" />


</beans>